* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Latto", sans-serif;
}

:root {
  --grey-100: #03050f;
  --grey-80: #2b304e;
  --rimac: #ff1c44;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}
