* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Latto", sans-serif;
}

:root {
  --grey-100: #03050f;
  --grey-80: #2b304e;
  --rimac: #ff1c44;
  --aqua: #7df0ba;
  --background-gradient-aqua: linear-gradient(86.01deg, #00F4E2 0%, #00FF7F 100%);
  --neutral-700:  #141938;

}

.container {
  margin: 0 auto;
  max-width: 1000px;
}
